@page "/"
@rendermode InteractiveServer
@using Blazor_Csharp_Meeting_Scheduler.Models;
@inject Blazor_Csharp_Meeting_Scheduler.Services.MeetingService MeetingService;
@inject Blazor_Csharp_Meeting_Scheduler.Services.EmployeeService EmployeeService;
@inject Blazor_Csharp_Meeting_Scheduler.Services.DepartmentService DepartmentService;
@inject NavigationManager NavigationManager



<PageTitle>Meeting Scheduler</PageTitle>
<br />
<h1>Weekly Meeting Scheduler</h1>

<!--create the table for the application that is displayed on the homepage-->
@if (comboData == null)
{
    <p>Loading...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Meeting Id</th>
                <th>Employee Name</th>
                <th>Employee Email</th>          
                <th>Phone Number</th>
                <th>Meeting Date/Time</th>
                <th>Department Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var meeting in comboData)
            {
                <tr>
                    <td>@meeting.MeetingId</td>
                    <td>@meeting.EmployeeName</td>
                    <td>@meeting.EmployeeEmail</td>
                    <td>@meeting.DepartmentName</td>
                    <td>@meeting.EmployeePhone</td>
                    <td>@meeting.MeetingTitle</td>
                    <td>@meeting.MeetingDateTime</td>
                </tr>
            }
        </tbody>

    </table>    
}

<AuthorizeView>
    <Authorized>
        <div style="position: fixed; bottom: 10px; left: 17em;">
            <button class="btn btn-primary" @onclick="NavigateToAddMeeting">Add Meeting</button>
        </div>
    </Authorized>
    <NotAuthorized>
        <p>You must be authorized to add a meeting.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    // construct a list of meetings
    private List<ComboViewModel> comboData = new List<ComboViewModel>();

    // navigate to the add-meeting page
    private void NavigateToAddMeeting()
    {
        NavigationManager.NavigateTo("/add-meeting");
    }
    // construct a list of employees
    protected override async Task OnInitializedAsync()
    {
        var employees = await EmployeeService.GetEmployeesAsync();
        var meetings = await MeetingService.GetMeetingsAsync();

        // create a list of combo data for employees and meetings
        comboData = new List<ComboViewModel>();

        foreach (var meeting in meetings)
        {
            var employee = employees.FirstOrDefault(e => e.EmployeeId == meeting.EmployeeId);
            if (employee != null)
            {

                comboData.Add(new ComboViewModel
                    {

                        EmployeeId = employee.EmployeeId,
                        EmployeeName = string.Empty,
                        EmployeeEmail = string.Empty,
                        EmployeePhone = string.Empty,
                        MeetingId = meeting.MeetingId,
                        MeetingTitle = meeting.MeetingTitle,
                        MeetingDateTime = meeting.MeetingDateTime,
                        DepartmentName = meeting.DepartmentName
                    });
            }



        }


    }

    





}


